<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wiedmolol{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
    <script type="text/javascript" src="{{ asset('js/search.js') }}" defer></script>
    <link rel="icon" href="{{ asset('img/logo.svg') }}" type="image/svg+xml">
</head>
<body>
<header>
    <div class="header-left">
        <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo.svg') }}" alt="Logo" class="logo"></a>
        <h1 class="site-name">Wiedmolol</h1>
    </div>
    <div class="header-right">
        <form id="search-form" action="{{ path('homepage') }}" method="get">
            <input type="text" id="search-bar" name="search" class="search-bar" placeholder="Search..." value="{{ query is defined ? query : '' }}">
        </form>
        {% if app.user %}
            <a href="{{ path('app_profile') }}">
                <img src="{{ asset('img/profile.svg') }}" alt="Profile" class="icon icon-profile">
            </a>
        {% else %}
            <a href="{{ path('app_login') }}">
                <img src="{{ asset('img/profile.svg') }}" alt="Zaloguj się" class="icon icon-profile">
            </a>
        {% endif %}
    </div>
</header>

<div class="main-container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
